html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************** End CSS RESET *****************/

/*******************nav********************/
.navs {
    width: 1200px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    line-height: 60px;
    background: #2A2A2A;  
}

.navsfixed 
{
    position: fixed;
    display: none;
    margin-top: -365px;
    width: 1200px;
    z-index: 180;
    font-weight: 100;
    line-height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.sidenav {
    height: 100%; 
    top:0;
    width: 0; 
    position: fixed; 
    z-index: 180; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 240px; 
    transition: 0.1s; 
    text-align: right;
}

/* The navigation menu links */
.sidenav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #818181;
    display: block;
    transition: 0.2s;
    line-height: 40px;
    margin-right: 20px;
    padding: 8px 8px 8px 32px;
}





/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 0px;
    
}

/*******************end nav*******************/


/*******************responsive********************/


@media only screen and (min-width: 1250px) 
{



    .sidenav .closebtn 
    {
       
        font-size: 36px;
    }

    .projects
    {
        height: 600px;
    }

    .closebtn
    {
        
        margin-top: 127px;
    }

    .projects .photoa
    {

        height: 380px;
        margin-top: -190px;
    }

    #restext
    {
        display: none;
    }


    .texta:hover,.photoa:hover
    {
    
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
        transform: scale(1.1);
    }
    
    
    #p3 .texta
    {
        width: 200px;
    }

    

  
    
}

@media only screen and (max-width: 1250px) 
{

    .sidenav .closebtn 
    {
       
        font-size: 36px;
    }

    .projects
    {
        height: 600px;
    }

    .closebtn
    {
        
        margin-top: 127px;
    }

    .projects .pimg
    {
        height: 320px;
    }

    
    .projects .texta h1
    {
        font-size: 40px;
    }

    .projects .photoa
    {
        height: 320px;
        margin-top: -160px;
    }

    

    #container 
    {
        
        
        width: 1024px;
        margin:auto;
    } 

    .navs
    {
        width: 1024px;
    }

    .projects .texta
    {
     
        width: 400px;
        display: inline-block;
        
    }

    #p3 .texta
    {
        width: 200px;
    }

    #p4 .texta
    {
        width: 480px;
    }

    .texta:hover,.photoa:hover
    {
    
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
        transform: scale(1.1);
    }
    
  
  
    
}



@media only screen and (max-width: 900px) 
{   

    .sidenav .closebtn 
    {
       
        font-size: 100px;
    }

    #mySidenav a
    {
        line-height: 55px;
    }

    .closebtn
    {
        
        margin-top: 115px;
    }

    .navs
    {
        width: 667px;
    }

   
    .projects
    {
        height: 550px;
    }

    .projects .pimg
    {
        height: 350px;
    }

    .projects .texta h1
    {
        font-size: 27px;
        line-height: 35px;
        letter-spacing: 6px;
        
    }


    .projects .photoa
    {
        height: 350px;
        top:302.5px;
        transform: translateX(50%);
        right: 50%;
        


    }

    #p3 .texta, #p4 .texta
    {
        width: 600px;
    }

    

    .projects .texta
    {   
        width: 600px;
        display: block;
        text-align: center;
        position: relative;
        margin: auto;   
        top:10%;     
    }
    
    


    #htext img
    {
        height: 80px;
    }

    #htext h1
    {
        font-size: 65px;
        margin-left: 20px;
    }

    #container 
    {
        
        
        width: 667px;
        margin:auto;
    } 

  

    

  
    
}


/*******************end responsive********************/




body
{
    background-color: #232323;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.container
{
    width: 1200px;
    background: #2A2A2A;
    margin: auto;
    animation: 2s fadeIn;

}


a
{
    color: white;
}

header
{
    height: 300px;
    line-height: 300px;
    position: relative;
    box-shadow: 0px 12px 20px 4px rgba(0,0,0,0.44);
    border-bottom: 2.5px solid #00a7fe;
    text-align: center;
    z-index: 1;
    
    
}

h1
{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    

}

h2
{
    font-weight: 100;
    font-size: 16px;
}




header h1
{
    
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    margin-top: 10px;
    z-index: 3;
    

    font-size: 80px;
    letter-spacing: 3px;
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;

}


header img
{

    display: inline-block;
    vertical-align: middle;
    height: 120px;
    line-height: 120px;
    margin-left: -5px;
    
}

header a
{
    
    text-decoration: none;
    color: white;
    
    z-index: 3;
    display: inline-block;
    
    -webkit-transform: perspective(1px);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    
    
}

header a:before {
    z-index: 3;
    pointer-events: none;
    position: absolute;
    content: '';
    top: 73%;
    left: 1%;
    height:30px;
    width: 100%;
    opacity: 1;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
header a:hover
{
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

header a:hover:before
{

    transform: translateY(7px) scale(0.75);
    
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}




.projects
{
    width: 100%;
    
    line-height: 600px;
    position: relative;

    animation: 1s fadeInUp;
    
}

.texta 
{

    display: inline-block;
    width: 600px;
    margin-left: 10%;
    transform: translateZ(0);
    color: white;
    text-decoration: none;
    vertical-align: middle;
    
    
    
    
}



.photoa 
{

    
    position: absolute;
    right: 10%;
    top: 50%;
    display: block;
    
}




.projects img
{

    height: 380px;
    box-shadow: 0px 0px 78px -29px rgba(0,0,0,0.75);
    
}   


.projects h1
{
     
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 8px;
    line-height:2.3;
    font-style: italic;

    
}




.projects p
{
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    line-height: 22px;
    width: 450px;
    right: 117px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;

}



#p4 h1
{
    color: black;
}

#p1
{
    background: linear-gradient(to right, rgba(9,240,136,1) 0%, rgba(95,144,242,1) 100%);
}

#p2
{

    background: linear-gradient(to right, rgb(103,141,214) 0%,rgb(247,247,247) 100%);
    
}



#p3
{
    
    background: linear-gradient(to right, rgba(19,83,128,1) 0%, rgba(209,75,156,1) 100%);

    z-index: 0;
}



#p4
{

    background: linear-gradient(to right, rgba(202,199,4,1) 0%, rgba(255,251,0,1) 100%);
    color: black;
    
}


#p2 p, #p3 p, #p5 p, #p6 p 
{
    column-count: 2;
    width:650px;
}



#p5
{
    background:linear-gradient(to right, rgba(135,211,237,1) 0%, rgba(0,181,241,1) 100%);
}

#p6
{   
    background: linear-gradient(to right, rgb(117,146,177) 0%,rgb(219,222,224) 100%);    
    
}

#p7
{
    background: linear-gradient(to right, rgb(0, 167, 254) 0%, rgb(17, 99, 220) 100%);
}


#mfooter
{

    text-align: center;
    height: 120px;
    clear: both;
    position: relative;
    padding-top: 25px;
    margin-bottom: 50px;
    box-shadow: 0px 12px 20px 4px rgba(0,0,0,0.44);

}

#mfooter p
{
    display: block;
    margin: auto;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto';

}

#con
{
    font-size: 17px;
    margin-bottom: 2px;
}


footer img
{
    width: 70px;
    margin-top: 4px;
}

footer p a
{
    display: inline-block;
    color: white;

}

footer p a:hover
{
    color: #00a7fe;
}

.social
{
    font-size: 27px;
    margin-bottom: 15px;
}

.social-text
{
    font-size: 0px;

}

a span 
{
   font-size: 0px;
}


a span .social-text
{
   font-size: 0px;
}
/* ***********************Animations***************** */

@keyframes fadeIn
{
    0%{
        opacity:  0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }


@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}