html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************** End CSS RESET *****************/



body
{
    background-color: #232323;
    color: white;
    font-family: 'Lato', sans-serif;
}

.container
{
    width: 1366px;

    background: linear-gradient(to right, rgba(11,11,11,1) 0%, rgba(54,54,54,1) 100%);
    margin: auto;
    

}


a
{
    color: #378cba;
}

header
{
    height: 364px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 12px 20px 4px rgba(0,0,0,0.44);
    border-bottom: 2.5px solid #00a7fe;
}

h1
{
    font-size: 28px;
    font-weight: 100;
}

h2
{
    font-weight: 100;
    font-size: 16px;
}

#htext
{
    position: absolute;
     left: 360px;
     top: 50%;
    transform: translateY(-50%);

}

#para
{
    position: absolute;
    width: 200px;
     top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    right: 160px;
}


header img
{
    position: absolute;
    height: 155px;
    left: 160px;
    top: 50%;
    transform: translateY(-50%);
    
}

header h2
{
    margin-top: 10px;
}

#hfirsth2
{
    margin-top: 16px;
}

#relativelayer
{
    position: fixed;
}

nav
{
    background: linear-gradient(to bottom, rgba(17,17,17,1) 0%, rgba(23,23,23,1) 100%);
    box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.75);
    z-index: 1;
    border-top: 2.5px solid #00a7fe;
    left: 35px;
    margin-left: -250px;
    width: 190px;
    text-align: left;
    position: relative;
    top: 364px;

}




nav ul li a
{
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 60px;
    margin-left: 20px;

}

nav li
{
    list-style: none;
}

footer
{
    text-align: center;
    height: 95px;
    clear: both;
    position: relative;
    margin-bottom: 300px;

}

footer p
{
    position: absolute;
    top: 13px;
    left: 620px;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Roboto';

}

footer p a
{
    display: inline-block;
    margin-top: 7px;
}

.social
{
    font-size: 24px;
}

.projects
{
    width: 100%;
    height: 600px;
    position: relative;
    
}


.projects img
{
    position: absolute;
    height: 430px;
    left: 115px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;

}

.projects p
{
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    line-height: 22px;
    width: 450px;
    right: 117px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;

}

.projects h1
{
    position: absolute;
    left: 115px;
    top: 30px;
}



#p1
{
    
    background: linear-gradient(to right, rgba(19,83,128,1) 0%, rgba(209,75,156,1) 100%);
    position: relative;
    z-index: 0;
}



#p2
{

    background: linear-gradient(to right, rgba(202,199,4,1) 0%, rgba(255,251,0,1) 100%);
    color: black;
    
}


#p2 p, #p3 p, #p5 p, #p6 p 
{
    column-count: 2;
    width:650px;
}

#p3
{

    background: linear-gradient(to right, rgba(209,199,183,1) 0%, rgba(125,112,84,1) 100%);
}

#p4
{
    background: linear-gradient(to right, rgba(30,31,31,1) 0%, rgba(133,129,128,1) 100%);
}

#p5
{
    background:linear-gradient(to right, rgba(135,211,237,1) 0%, rgba(0,181,241,1) 100%);
}

#p6
{
    background-color: white;
    color: black;
}

.projects img
{
    box-shadow: 0px 0px 78px -29px rgba(0,0,0,0.75);
}